#griyd {

-fx-background-repeat: stretch;   
-fx-background-position: center center;
-fx-background-size: 500px 500px; 

}

.lightwood {
	-fx-background-image: url("../img/light.jpg");

}
.lightwood .line {
	-fx-stroke: rgb(90,46,46);
	-fx-opacity: 0.9;
}

.wood {
	-fx-background-image: url("../img/muehle8.png");
}
.wood .line {
	-fx-stroke: black;
		-fx-opacity: 0.6;

}

.darkwood {
	-fx-background-image: url("../img/maha.jpg");
}
.darkwood .line {
	-fx-stroke: white;
		-fx-opacity: 0.5;

}

.space {
	-fx-background-image: url("../img/plasma.jpg");
}
.space .line {
	-fx-stroke: white;
		-fx-opacity: 0.7;

}